/*COLORS*/
/*colors-neutros*/
$negro: #3C3C3B;
$gris: #C0C5BF;
$ocre: #ddd2cc;
$pastel: #fefff3;
$blanco: #FFFFFF;

/*colors-logo*/
$lila: #3f3e80;
$verde: #82d0c0;
$naranja: #e0715d;
$amarillo1:  #f0db7e;
$amarillo2: #dcc043;


/*spacing*/
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmal: 1rem;

/*font-family*/
$font-principal: 'Dancing Script', cursive;
$font-title: 'Nunito', sans-serif;




