/*HEADER*/
header {
    background-image: linear-gradient(#C0C5BF, #ddd2cc, #fefff3, #FFFFFF);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 50%;
}

.menusup {
    justify-content: space-between;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

/*Estilos*/
.menusup {
    list-style-type: none;
    font-family: Font2;
    color: #3C3C3B;
}

/*Animación*/
.logo:hover {
    transform: scale(2, 2);
    transition: 6s;
}
